.table {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px 0;
  box-sizing: border-box;
  border: 1px solid #dfe0eb;
  
  h3 {
    padding: 32px;
    box-sizing: border-box;
    border-bottom: 1.5px solid #DFE0EB;
  }
}